@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin lato {
    font-family: "Open Sans", serif;
}

@mixin popins {
    font-family: "Work Sans", serif;
}

@mixin roboto {
    font-family: "Roboto Condensed", sans-serif;
}

@mixin gradient {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.75));
    top: 0px;
}

@mixin upper {
    text-transform: uppercase;
}

@mixin regular {
    font-weight: 400;
}

@mixin medium {
    font-weight: 500;
}

@mixin semi {
    font-weight: 600;
}

@mixin bold {
    font-weight: 700;
}

@mixin dflex {
    display: flex;
}

@mixin underline {
    text-decoration: underline;
}

@mixin dfw {
    display: flex;
    flex-wrap: wrap;
}

@mixin img-white {
    filter: brightness(0) invert(1);
}

@mixin all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin rotate {
    transform: rotate(180deg);
}

@mixin img-green {
    filter: brightness(0) saturate(100%) invert(38%) sepia(36%) saturate(664%) hue-rotate(98deg) brightness(97%)
        contrast(82%);
}

@mixin img-black {
    filter: brightness(0) saturate(100%) invert(1%) sepia(77%) saturate(1660%) hue-rotate(166deg) brightness(90%)
        contrast(102%);
}

@mixin shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@mixin meta {
    font-family:$lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
