$primary:#1A3021;
$secondary:#8EA986;
$tertiary:#BCDDB2;
$gray:#343A40;
$white:#ffffff;
$darkgray:#231F20;
$black:#000000;
$blue:#003B71;
$green:#37583C;
$lightgray:#F7F7F7;

$gold:#9D863B;
$sand:#CCBE9E;
$mint:#BDDCC8;
$sage:#BFC2A8;
$lightblue:#E9EEF5;
$darkblue:#034165;
$red:#B61717;
$border-color:#DCE0E6;
// color paltte - 
$colors:( "primary":$primary, "secondary":$secondary, "green":#337D58, "black":#000000, "lightgray":#EEEEEE, "blue":#156CB7, "darkblue": #034165, "gold":#9D863B, "sand":#CCBE9E, "mint":#BDDCC8);
.test-btn {
    background-color: map-get($colors, "blue");
}

@mixin fancy-border($size:1px, $color:#000) {
    border: $size solid $color;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
$lato: "Open Sans", serif;
$popins: "Work Sans", serif;