.test-btn {
  background-color: #156CB7;
}

@media (max-width: 767px) {
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
  }
  .timeline-article {
    flex-wrap: wrap;
    padding-left: 30px;
    overflow: visible;
  }
  #conference-timeline .conference-center-line {
    left: 30px;
  }
  .timeline-inner-left {
    text-align: left;
    padding-right: 0;
  }
  .timeline-level-one,
  .timeline-level-two {
    flex-wrap: wrap;
    overflow: visible;
    padding-left: 40px;
    padding-right: 20px;
  }
  .timeline-inner-left,
  .timeline-inner-right {
    max-width: 100%;
  }
  .timeline-article .circle_yw {
    left: 0px;
  }
  .timeline-article .image_year_row {
    flex-wrap: wrap;
  }
  .timeline-article .section_year {
    margin: 20px 0px;
    display: none;
  }
  .img_left .image_year_row .section_year {
    right: auto;
    left: 0px;
  }
  .odd.timeline-article .content-right-container,
  .even.timeline-article .content-right-container {
    padding-top: 20px;
    padding-left: 0px;
  }
  .section_img {
    padding-top: 30px;
  }
  .even.timeline-article .section_img {
    margin-bottom: 20px;
  }
  .timeline-inner-left,
  .timeline-inner-right {
    padding-left: 40px;
  }
  .timeline-article.even .circle_yw::before {
    right: auto;
    left: 15px;
  }
  .timeline-article.even .circle_yw::after {
    right: -115px;
    left: auto;
  }
  .timeline-article .content-left {
    text-align: left;
  }
  .even.timeline-article .content-left-container {
    padding-left: 0px;
    padding-right: 0px;
    order: 2;
  }
  .timeline-article .circle_yw {
    top: 0px;
  }
  .event_list_info .tribe-events-calendar-list__event-description {
    display: block !important;
  }
  .general_carousel {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 25px;
    margin-right: 25px;
  }
  .wp-block-advgb-adv-tabs.advgb-tab-horz-desktop .owl-stage {
    display: flex;
  }
  .wp-block-advgb-adv-tabs.advgb-tab-horz-desktop .advgb-tabs-panel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    overflow: visible !important;
    /* IE and Edge */
  }
  .wp-block-advgb-adv-tabs.advgb-tab-horz-desktop .advgb-tabs-panel::-webkit-scrollbar {
    display: none;
    /* Webkit browsers */
  }
  .wp-block-advgb-adv-tabs.advgb-tab-horz-desktop .owl-nav .disabled {
    display: none;
  }
  .wp-block-advgb-adv-tabs.advgb-tab-horz-desktop .owl-nav button {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #7A8080;
    cursor: pointer;
    z-index: 100;
    left: 0px;
    background-image: url(../img/angle-right-white.svg);
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    left: 0px;
    top: 20px;
  }
  .wp-block-advgb-adv-tabs.advgb-tab-horz-desktop .owl-nav button.owl-next {
    left: auto;
    right: 0px;
  }
  .wp-block-advgb-adv-tabs.advgb-tab-horz-desktop .owl-nav button.owl-prev {
    transform: rotate(180deg);
  }
  .wp-block-advgb-adv-tabs.advgb-tab-horz-desktop .owl-nav button span {
    display: none;
  }
  .up_events {
    padding-left: 15px;
    padding-right: 15px;
  }
  .expanding-grid .expand_det h3 {
    font-size: 17px;
  }
  .main-owl-slider {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .wp-block-group {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wp-block-group > h2.has-text-align-center {
    margin-bottom: 20px;
  }
  .wp-block-media-text ul.listen_sec {
    width: 100% !important;
  }
  .news_media_wrap .wp-block-group.listen ul {
    padding-left: 15px !important;
  }
  .contact_wrap .cont_form_wrapper {
    padding: 30px;
  }
  .contact_wrap .col_add_right {
    padding: 30px;
  }
  .contact_wrap .dp_contact > * {
    padding-left: 0px;
    padding-right: 0px;
  }
  .detail_wrap .dp_content {
    max-width: 100%;
  }
  .detail_wrap .dp_sidebar {
    position: static;
    max-width: 100%;
    padding-bottom: 20px;
  }
  .detail_wrap .sidebar_box,
  .detail_wrap .sidebar_doc {
    width: 100%;
    max-width: 100%;
  }
  .detail_wrap .img_button_row {
    width: 100% !important;
    max-width: 100%;
  }
  .directory_wrap .dd_search_filter,
  .directory_wrap .filter-container {
    display: block;
  }
  .directory_wrap .dd_search_filter > div,
  .directory_wrap .filter-container > div {
    margin-bottom: 10px;
  }
  .pdcst_row .col_left,
  .pdcst_row .col_right {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .nsRight {
    margin-top: 10px;
  }
  .news_list_info .newsBody {
    padding: 10px 0px 0 0 !important;
  }
  .news_media_wrap .news_media_txt {
    grid-template-columns: auto !important;
  }
  .meeting-wraper .filterWrap-meet {
    grid-template-columns: auto;
  }
  .news_m_content {
    padding-top: 15px;
  }
  .podcast_wrap .pdc_filter_sort {
    grid-template-columns: auto;
  }
  .podcast_wrap .pdc_filer {
    margin-bottom: 0px;
  }
  .pdc_sort {
    margin-bottom: 10px;
  }
  .pdc_list_info {
    padding-top: 20px;
  }
  .pdc_dt_content {
    padding-top: 15px;
  }
  .podcast_wrap .pdc_list_info .row.no-img .right_col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .event_wraper .row_evt {
    grid-template-columns: auto;
  }
  .event_wraper .cnt_evt {
    padding-top: 15px;
  }
  .event_wraper .row_evt.noimg {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .event_top_filter {
    grid-template-columns: auto;
    flex-wrap: wrap;
  }
  .event_top_filter .search_filter_title {
    grid-template-columns: auto;
  }
  .single_event_wrap .evt_slider .owl-prev {
    left: 0px;
  }
  .single_event_wrap .evt_slider .owl-next {
    right: 0px;
  }
  .single_event_wrap .evt_slider .post-slide {
    width: 85%;
    margin: 0 auto;
  }
  .meeting-wraper .filterWrap-meet .sm-padding {
    padding-top: 0;
  }
  .search_row {
    grid-template-columns: auto;
  }
  .search_row .btn_row {
    padding-left: 0;
    padding-top: 15px;
  }
  .search_row .btn_row a {
    margin-bottom: 5px;
  }
  .filter_export {
    grid-template-columns: auto;
  }
  .filter_export .left_column {
    grid-template-columns: auto;
  }
  .filter_export .left_column .filter_section {
    padding-top: 10px;
  }
  .filter_export form {
    grid-template-columns: auto !important;
  }
  .filter_export form div {
    margin-bottom: 5px;
  }
  .filter_export .right_column .btn_row {
    justify-content: flex-start;
  }
  .wp-block-spacer.space-100 {
    height: 10px !important;
  }
  .list_addr {
    padding-top: 20px;
  }
  .wp-block-table td,
  .wp-block-advgb-table td {
    padding: 10px 10px !important;
    font-size: 12px;
  }
  .wp-block-table th,
  .wp-block-advgb-table th {
    font-size: 16px;
  }
  .main_wrapper.watermark::after {
    display: none;
  }
  .faq_main .search-filter-title {
    grid-template-columns: auto;
    grid-row-gap: 10px;
  }
  .page_title {
    padding-bottom: 15px !important;
  }
  .for-desk {
    display: none;
  }
  .innerHero .tripPlanner .search_wrap > div {
    margin-bottom: 0px;
  }
  .innerHero .tripPlanner_wrap .search_wrap {
    grid-column-gap: 0px;
  }
  .advgb-tabs-wrapper.advgb-tab-vert-desktop div.advgb-tab-body {
    padding-left: 0 !important;
    padding-top: 10px;
  }
  video {
    height: auto;
  }
  .main_acco_title .date_meet {
    min-width: 80px;
    width: 80px;
  }
  .meeting-wraper .agd_filter .filter_right select {
    max-width: 100%;
    margin-left: 0;
  }
  .howto .container {
    padding: 0px;
  }
  .wp-embed-responsive .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
    display: none !important;
  }
  .wp-embed-responsive .wp-has-aspect-ratio iframe {
    position: static !important;
  }
  .meetingRow {
    min-height: 100px;
  }
  .newsimg img {
    height: auto;
  }
  .col-three label {
    display: none;
  }
  .slider-main {
    padding-top: 0px;
  }
  .main_search_content .search_box .asp_main_container {
    width: 100%;
  }
  .sort_boxResult {
    margin-left: 0;
  }
  .wp-block-image.alignright,
  .wp-block-image.alignleft {
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  .contactcard_row.one .contact_col {
    min-width: 100%;
  }
  .contactcard_row .cont_inner {
    padding: 20px;
    min-height: 130px;
  }
  .contactcard_row .tel_em_fax {
    margin-top: 0px;
  }
  .back_next_posts .prev_link {
    position: static;
  }
  .page-id-30676 .table-wrapper table {
    min-width: 600px;
  }
  .advgb-tabs-wrapper ul.advgb-tabs-panel li.advgb-tab.advgb-tab.advgb-tab-active {
    border-right: 1px solid #B1ADAD !important;
    border-left: 1px solid #B1ADAD !important;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop ul.advgb-tabs-panel {
    flex-wrap: wrap;
    overflow: hidden !important;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop ul.advgb-tabs-panel .advgb-tab {
    width: 100%;
    min-width: 120px;
    min-height: 20px;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop ul.advgb-tabs-panel .advgb-tab a {
    font-size: 16px;
  }
  .advgb-tabs-wrapper ul.advgb-tabs-panel li.advgb-tab a {
    font-size: 16px;
  }
  .fixed_btns ul li a {
    padding: 6px 2px;
    min-width: 100px;
    font-size: 10px;
    text-align: center;
  }
  .main_search_content .search_box .probox {
    min-width: 100%;
  }
  .signup_alerts_news form {
    display: block;
  }
  .filterWrap form {
    display: block !important;
    max-width: 100% !important;
  }
  .filterWrap form .filter_box {
    margin-bottom: 10px;
  }
  .nav_section {
    margin-top: -55px;
    position: relative;
    left: 0px;
    right: 0px;
    max-width: 100%;
    bottom: 0px;
    width: 100%;
  }
  .nav_section .navcol {
    width: 50%;
    margin-bottom: 15px;
  }
  .nav_section .navcol .navblock_icon {
    width: 100px;
    height: 100px;
  }
  .ftr-news {
    display: block;
  }
  .ftr-news > div {
    margin-bottom: 15px;
  }
  .top-Title {
    justify-content: center !important;
    margin-bottom: 25px;
  }
  .top-Title a {
    display: none;
  }
  .up_events .evt-content {
    grid-template-columns: auto;
  }
  .up_events .evt-img {
    margin-bottom: 10px;
  }
  .up_events .evt-img img {
    width: 100%;
  }
  .footer-content .footer_left {
    padding-top: 55px;
    padding-bottom: 30px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
  }
  .footer-content .footer_left .foot_col {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .footer-content .footer_right {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-services {
    padding-top: 0px;
  }
  .main-services .img_button_row {
    margin: 0px;
  }
  .NewsMettings {
    padding-top: 10px;
  }
  .slider-main .slider_content {
    padding-left: 25px;
    padding-right: 25px;
  }
  .slider-main .slider_content::before {
    width: 100%;
  }
  .back_next_posts .next_link {
    position: static;
  }
  .advgb-recent-posts-block.grid-view {
    padding-left: 20px;
    padding-right: 20px;
  }
  .advgb-recent-posts-block.list-view .advgb-recent-post--no-image .advgb-post-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .advgb-recent-posts-block.list-view .advgb-post-wrapper {
    padding-left: 20px;
    padding-top: 10px;
  }
  .slider-view .slick-prev {
    left: 0px !important;
  }
  .slider-view .slick-next {
    right: 0px !important;
  }
  .advgb-recent-posts-block.slider-view .advgb-recent-post {
    padding-left: 30px;
    padding-right: 30px;
  }
  .advgb-recent-posts-block.frontpage-view .advgb-recent-posts {
    display: block !important;
  }
  .advgb-recent-posts-block .advgb-post-title {
    min-height: 10px;
  }
  .advgb-recent-posts-block.frontpage-view .advgb-recent-posts .advgb-recent-post {
    margin-bottom: 15px;
  }
  .advgb-recent-posts-block.masonry-view .advgb-recent-post {
    width: 100% !important;
    position: static !important;
  }
  .advgb-recent-posts-block.grid-view .advgb-recent-posts,
  .advgb-recent-posts-block.list-view .advgb-recent-post {
    grid-template-columns: auto !important;
  }
  .advgb-recent-posts-block.list-view .advgb-recent-post {
    grid-row-gap: 0px !important;
  }
  .advgb-post-thumbnail a,
  .advgb-post-thumbnail a img {
    width: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .back_next_posts {
    display: block;
  }
  .cancel-info {
    padding: 1px 6px;
    font-size: 11px;
    min-width: 0px;
  }
  .main-tabs .nav-tabs li.current_page_item a::after {
    bottom: -4px;
  }
  .filterWrap {
    max-width: 100%;
    padding-left: 0px;
  }
  .innerHero .alert {
    transform: none;
    left: 0px;
    min-width: 100%;
  }
  .service_acco .main_acco_sv {
    padding-left: 15px;
  }
  .acco_panel {
    padding: 30px;
  }
  .general-tabs .nav-tabs .nav-item a {
    font-size: 16px;
  }
  .general-tabs {
    padding-top: 10px;
  }
  .general-tabs .nav-tabs li {
    width: 100%;
  }
  .general-tabs .tab-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .general-tabs .tab-content .container {
    padding: 0px;
  }
  .main-tabs .nav-tabs .nav-item {
    width: 100%;
  }
  .main-tabs .nav-tabs .nav-item a {
    width: 100%;
  }
  .main_acco_title .acco_title_info {
    padding-left: 15px;
    padding-right: 15px;
  }
  .meeting-wraper .agd_filter .filter_left,
  .meeting-wraper .agd_filter .filter_right {
    display: block;
    width: 100%;
  }
  .rt-modal .rt-modal-info {
    padding-left: 20px;
    padding-right: 20px;
  }
  .destination-info .dest-row {
    padding: 0px;
    flex-wrap: wrap;
  }
  .destination-info .input-group-one {
    flex: auto;
    width: 100%;
  }
  .destination-info .to-text {
    width: 100%;
    text-align: center;
  }
  .route-detail-info .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .destination-info .input-group-one .form-control {
    font-size: 16px;
  }
  .accostpanel {
    overflow: auto;
  }
  .accostpanel table td {
    font-size: 12px;
    padding: 6px;
  }
  .accoRt_block .alerticon {
    left: 0px;
  }
  .wp-block-advgb-accordions .advgb-accordion-header .advgb-accordion-header-title {
    font-size: 16px;
  }
  .mt_row_wrap .mt_content .mt_img img {
    height: auto !important;
  }
  .img_text_card_row .img_text_card_col.one .text-img-wrap {
    grid-template-columns: auto;
  }
  .contactcard_row .contact_box .cont_img img {
    height: auto;
  }
  .wp-block-advgb-accordions .advgb-accordion-header {
    padding-left: 15px !important;
  }
  .advgb-accordion-header-icon img {
    max-width: 18px;
  }
  .simple_list_col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 8px;
  }
  .simple_list_col a {
    min-height: 60px;
  }
  .expanding-grid .links > li {
    width: 100% !important;
  }
  .img_button_row .img_btn_col,
  .img_text_card_row .img_text_card_col,
  .button_ico_col,
  .contact_col {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .text_card_block {
    height: auto !important;
  }
  .text-img-wrap.no-img .btn_sm {
    position: static;
  }
  .wp-block-group.is-content-justification-left > * {
    padding-left: 25px;
    padding-right: 25px;
  }
  .img_text_card_row.one .text-img-wrap {
    grid-template-columns: auto;
  }
  .news_wraper .search_filter_title,
  .news_wraper .search_filter_title .filterWrap {
    grid-template-columns: auto;
  }
  .filter_box.col-two label {
    display: none;
  }
  .artist_detail .artist_info {
    padding-right: 0;
  }
  .event_banner .evt_banner_content {
    padding: 30px 20px 30px 20px;
  }
  .event_wraper .event_top_filter {
    grid-template-columns: auto;
    grid-row-gap: 15px;
  }
  .resultWraper .searchFilterBlock {
    padding-top: 0;
  }
  .filterBlocks {
    padding-top: 20px;
  }
  .main_banner .carousel-caption {
    text-align: left;
    bottom: 15px;
  }
  .main_banner .carousel-caption h2 {
    font-size: 45px;
  }
  .main_banner .carousel-caption h2 span {
    font-size: 21px;
  }
  .main_banner .carousel-indicators {
    display: none;
  }
  .main_banner .carousel-control-next,
  .main_banner .carousel-control-prev {
    display: none;
  }
  .main_banner .carousel-item img,
  .main_banner iframe,
  .main_banner video {
    height: calc(100vh - 60px);
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 0;
    min-height: 440px;
  }
  .topTitle.text-left {
    text-align: center !important;
    justify-content: center;
  }
  .more-detail {
    display: block;
  }
  .more-detail .link {
    margin-bottom: 20px;
  }
  .expanding-grid .links > li {
    width: 100%;
  }
  .main_breadcrumb .container {
    padding-left: 15px;
  }
  .main_search_content {
    flex-wrap: wrap;
  }
  .main_search_content .h6 {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .main_search_content .form-control {
    min-width: 100%;
  }
  .text-img-wrap.no-img .btn_sm {
    position: static;
  }
  .search_filter_title {
    flex-wrap: wrap;
  }
  .search_filter_title .filter_box {
    margin-left: 0;
    margin-top: 10px;
    width: 100% !important;
  }
  .search_box {
    width: 100%;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .contactcard_row {
    margin: 0px;
  }
  .main_wrapper .main_breadcrumb .breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
  }
  .newsRow .newsColumn,
  .news-grid .newsColumn {
    width: 100%;
    margin-bottom: 20px;
  }
  .newsSort {
    margin-left: 0px !important;
    margin-top: 10px;
    max-width: 100% !important;
    width: 100% !important;
    margin-bottom: 0px;
  }
  .news_wraper .newsRow .newsColumn {
    width: 100%;
  }
  .main_search_content .h5 {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .main_search_content .search_input {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .filter_export .right_column {
    grid-column: 1/4;
    padding-top: 30px;
  }
  .filter_export .right_column .btn_row {
    justify-content: flex-start;
    margin-top: 20px;
  }
  .meeting-wraper .agd_filter .filter_right {
    width: 25%;
  }
  .meeting-wraper .agd_filter .filter_left {
    width: 75%;
    grid-template-columns: 240px 130px 130px;
  }
  .expanding-grid .links > li {
    width: 33.3% !important;
  }
  .signup-box {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contact_wrap .col_add_right {
    margin-left: 0px !important;
  }
  .directory_wrap .dd_search_filter {
    display: block;
  }
  .directory_wrap .filter-container {
    padding-top: 15px;
  }
  .dp_sidebar {
    right: 10px;
  }
  .dp_sidebar .sidebar_box {
    width: 260px;
  }
  .img_button_row .img_btn_col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .page-id-31040 .advgb-column-inner {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .rt-modal .rt-modal-info {
    padding-left: 20px;
    padding-right: 20px;
  }
  .general-tabs .tab-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .advgb-recent-posts-block.grid-view .advgb-recent-posts {
    grid-template-columns: 1fr 1fr !important;
  }
  .nsRight .newsSort {
    width: 200px;
  }
  .filterWrap form {
    max-width: 100%;
    grid-template-columns: 1fr 160px 130px;
  }
  .search_filter_title .filter_box {
    margin-right: 4px !important;
  }
  .mt_card_col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .contact_col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .news_wraper .newsRow .newsColumn {
    width: 33.3%;
  }
  .advgb-recent-posts-block.grid-view .advgb-recent-posts {
    grid-template-columns: 1fr 1fr !important;
  }
  .img_button_row.four .img_btn_col,
  .img_text_card_row.four .img_text_card_col,
  .simple_list_info .row.four .simple_list_col,
  .contactcard_row.four .contact_col {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .main_banner .carousel-item img {
    min-height: 500px;
  }
  .newsInRow .col-md-9,
  .newsInRow .nsRight {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .nsRight .newsSort {
    margin-left: 0px;
  }
}
@media (min-width: 768px) {
  .for_mob {
    display: none;
  }
  .four .img_block > a > img {
    height: 195px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .for-mob {
    display: none;
  }
  .page-id-31042 .wp-block-heading + ul {
    position: relative;
    left: 30px;
  }
  .no-match {
    padding-top: 70px;
    padding-left: 20px;
  }
  .event_banner_img {
    margin-top: -50px;
  }
  .evt_banner_row .col_right {
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  .general-tabs .nav-tabs {
    flex-wrap: nowrap;
  }
  .navbar-expand-xl .navbar-nav {
    margin-right: -15px;
  }
  .logged-in .main_header {
    top: 30px;
  }
  .more-detail {
    padding-right: 10%;
  }
  .main_header .navbar-nav > li:last-child > .dropdown-menu {
    left: auto;
    right: -20px;
  }
  .logged-in .alert-area {
    top: 148px;
  }
  .detail-row .det-left-col {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .detail-row .det-right-col {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 992px) {
  .col--left {
    flex: 0 0 72%;
    max-width: 72%;
  }
  .col--right {
    flex: 0 0 28%;
    max-width: 28%;
  }
}
@media (max-width: 992px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .acccard .acctitle {
    flex-wrap: wrap;
  }
  .acccard .acc_right {
    width: 100%;
  }
  .acco_sign {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .news-dt-content {
    padding-top: 20px;
  }
  .accoRt_block .rtTitle {
    flex-wrap: wrap;
  }
  .accoRt_block .rtTitleWrap {
    width: 100%;
    padding-bottom: 6px;
  }
  .accoRt_block .rtTitleWrap p {
    padding-left: 30px;
  }
}
@media (max-width: 1199.9px) {
  .main_content ul li a,
  .main_content ol li a {
    word-wrap: break-word;
  }
  .main_header .megamenu {
    position: static;
    width: 100%;
    transform: none;
    box-shadow: none;
    border-top: 5px solid #0033A1;
    border-bottom: 5px solid #0033A1;
    padding: 15px;
  }
  .main_header .megamenu a {
    font-size: 16px;
  }
  .main_header .megamenu ul.sidemenu {
    -moz-column-count: 1;
         column-count: 1;
  }
  .main_header .megamenu li {
    margin-bottom: 18px;
  }
  .fixed_btns {
    display: none;
  }
  .alert-area {
    top: 75px;
    z-index: 90;
  }
  .main_header .navbar-brand img {
    max-width: 110px;
  }
  .logo_wrap {
    padding-left: 10px;
  }
  .main_banner {
    padding-top: 58px;
    flex-direction: column;
  }
  .soc_nav_wrap {
    background: #EEEEEE;
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
  .alert-bar {
    /* top: 75px;*/
  }
  .nav_bottom {
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
  }
  .main_header .navbar {
    padding: 3px 0px;
  }
  .toggle_main {
    margin-top: -8px;
  }
  .navbar-toggler {
    margin-right: 10px;
    border-radius: 0px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    outline: 0 !important;
    margin-top: 10px;
  }
  .navbar-toggler .icon-bar {
    width: 27px;
    height: 3px;
    background: #337D58;
    display: block;
    margin-bottom: 5px;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .navbar-toggler.active .icon-bar:nth-of-type(1) {
    top: 2px;
    transform: rotate(45deg);
  }
  .navbar-toggler.active .icon-bar:nth-of-type(2) {
    top: -6px;
    transform: rotate(-45deg);
  }
  .main_header .navbar-nav > li {
    display: block;
    padding: 0px 0px;
    margin: 0px;
    border-bottom: 1px solid #DCE0E6;
    margin-bottom: 10px;
    position: relative !important;
  }
  .main_header .navbar-nav > li > a {
    justify-content: flex-start;
    padding: 10px 0px 10px 0px !important;
    font-size: 16px;
    font-weight: 700;
    color: #0C0D0F !important;
    text-transform: none;
    background: none !important;
    text-align: left;
  }
  .main_header .navbar-nav > li.current_page_ancestor > a,
  .main_header .navbar-nav > li.current-menu-ancestor > a,
  .main_header .navbar-nav > li.current-page-parent > a,
  .main_header .navbar-nav > li.current_page_item > a,
  .main_header .navbar-nav > li.current-menu-item > a,
  .main_header .navbar-nav > li.current-page-ancestor > a {
    color: #097F8E !important;
  }
  .main_header .header_wrap {
    display: flex;
    flex-direction: column;
  }
  .main_header .top_header_cont {
    padding-top: 0px;
    order: 2;
  }
  .main_header .nav_bottom {
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    padding: 0px 30px;
  }
  .main_header .top_menu {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .main_header .top_menu .top_inner_menu {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
  }
  .main_header .top_menu .top_inner_menu a {
    width: 100%;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #ffffff;
    padding: 12px 10px;
  }
  .main_header .top_menu .top_inner_menu a::after {
    display: none;
  }
  .main_header .top_menu .top_inner_menu li {
    width: 100%;
  }
  .main_header .navbar-nav {
    margin-top: 0px;
    width: 100%;
  }
  .main_header .navbar-nav .mega-dropdown-menu {
    background: none;
    position: static;
    box-shadow: none;
    padding: 0px;
  }
  .main_header .navbar-nav .mega-dropdown-menu .row {
    grid-template-columns: auto;
    padding: 0;
  }
  .main_header .navbar-nav .mega-dropdown-menu .row .mega_col {
    min-height: 10px;
    border: 0;
    padding: 0 20px;
  }
  .main_header .navbar-nav .mega-dropdown-menu .row .mega_col > ul > li {
    margin-bottom: 15px;
  }
  .main_header .navbar-nav .mega-dropdown-menu .row .mega_col > ul > li > ul {
    display: none;
  }
  .select_language select {
    padding-left: 30px;
    text-align: center;
    background-position: left;
    width: auto;
    height: auto;
  }
  .main_header .social_media ul li {
    margin-right: 8px;
  }
  .main_header .navbar-nav > li > .dropdown-menu {
    position: static;
    width: 100%;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    box-shadow: none;
    background: none;
  }
  .plusMinus {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    text-align: center;
    cursor: pointer;
    top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .plusMinus::after {
    content: "+";
    position: absolute;
    right: 0px;
    background-repeat: no-repeat;
    display: block;
    right: 6px;
    font-weight: normal;
    font-size: 26px;
    color: #7A8080;
    /* background-image: url(../img/select-arrow.svg);*/
  }
  .plusMinus.minsicon::after {
    content: "-";
  }
  .plus-minus.minus-icon::after {
    /* content: '\2212';*/
  }
  .pls_minus {
    position: absolute;
    width: 30px;
    height: 20px;
    right: 0px;
    text-align: center;
    cursor: pointer;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pls_minus::after {
    content: "+";
    position: absolute;
    right: 0px;
    background-repeat: no-repeat;
    display: block;
    right: 6px;
    font-weight: normal;
    font-size: 26px;
    color: #7A8080;
    /* background-image: url(../img/select-arrow.svg);*/
  }
  .pls_minus.minus-info::after {
    content: "-";
  }
  .main_header .top_search {
    width: 100%;
    padding: 3px 30px;
    max-width: 100% !important;
    background: rgba(255, 255, 255, 0.98);
    border-bottom: 1px solid #DCE0E6;
  }
  .main_header .top_search .proinput input.orig {
    color: #7A8080 !important;
    font-size: 16px !important;
  }
  .main_header .top_search .proinput ::-webkit-input-placeholder {
    color: #7A8080 !important;
    font-size: 16px !important;
  }
  .main_header .top_search .proinput ::-moz-placeholder {
    color: #7A8080 !important;
    font-size: 16px !important;
  }
  .main_header .top_search .proinput :-ms-input-placeholder {
    color: #7A8080 !important;
    font-size: 16px !important;
  }
  .main_header .top_search .proinput :-moz-placeholder {
    color: #7A8080 !important;
    font-size: 16px !important;
  }
  .main_header .top_search .innericon svg {
    fill: #7A8080 !important;
  }
  header .searchbardiv {
    max-width: 100%;
    width: 100%;
  }
  .main_wrapper {
    padding-top: 90px;
  }
  .main_header .plus-minus {
    right: 10px;
  }
  .headerActive {
    max-height: calc(100vh - 30px);
    overflow: auto;
  }
  .main_header .navbar-nav > li:hover > a::after {
    display: none;
  }
  .main_header .social_media {
    justify-content: flex-start;
    order: 2;
  }
  .main_header .social_media a {
    width: 30px;
    height: 30px;
  }
  .tripPlanner_wrap {
    width: calc(100% - 40px);
    left: 20px;
  }
  .main_banner .carousel {
    justify-content: flex-start;
  }
}
@media (min-width: 1500px) {
  /* .container {
      max-width: 1400px;
  }*/
  .img_buttons + .wp-block-buttons {
    max-width: 1400px;
    padding: 0px 8px;
  }
}
@media (min-width: 2100px) {
  .wp-block-media-text.is-image-fill .wp-block-media-text__media {
    min-height: 1200px;
  }
}
@media (max-width: 768px) and (min-width: 430px) {
  .wp-block-media-text.is-image-fill .wp-block-media-text__media {
    min-height: 400px;
  }
}
@media (max-width: 1023px) {
  .advgb-tabs-wrapper.advgb-tab-vert-tablet {
    flex-direction: column !important;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop ul.advgb-tabs-panel {
    flex-direction: row;
    flex-grow: 1;
    min-width: 100%;
    max-width: 100%;
    display: flex !important;
    overflow-x: auto;
    justify-content: flex-start;
    overflow-y: hidden;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-vert-desktop ul.advgb-tabs-panel {
    flex-direction: column;
    flex-grow: 1;
    min-width: 100%;
    max-width: 100%;
    display: flex !important;
    overflow: auto;
    justify-content: flex-start;
  }
  .main_wrapper .advgb-tab-body-wrapper .advgb-tab-body-header {
    display: none !important;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop {
    flex-direction: column;
  }
  .main_wrapper .advgb-tabs-wrapper.advgb-tab-vert-tablet .advgb-tab-body-wrapper {
    max-width: 100%;
  }
  .wp-block-group > .wp-block-quote {
    padding-left: 15px !important;
  }
  .main_content > * {
    padding-left: 25px;
    padding-right: 25px;
  }
  .main_content .wp-block-group {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main_content .wp-block-group > ul,
  .main_content .wp-block-group > ol {
    padding-left: 50px !important;
  }
  .main_content > ul,
  .main_content > ol {
    padding-left: 30px !important;
  }
  div.advgb-tab-body > ul,
  div.advgb-tab-body > ol {
    padding-left: 30px !important;
  }
  .wp-block-group > * {
    padding-left: 25px;
    padding-right: 25px;
  }
  .wp-block-group > ol,
  .wp-block-group > ul {
    padding-left: 30px;
  }
  .advgb-tab-body-wrapper div.advgb-tab-body > *,
  .advgb-tab-body-wrapper div.advgb-tab-body > .gform_wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  .main_content .advgb-tab-body .wp-block-group {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 800px) {
  .wp-block-media-text::before {
    background: none;
  }
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 2;
    padding-top: 20px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 20px !important;
  }
  .wp-block-media-text .wp-block-media-text__content {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .wp-block-group.alignwide > .wp-block-media-text,
  .wp-block-media-text.alignwide {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .wp-block-group.alignwide > .wp-block-media-text .wp-block-media-text__content,
  .wp-block-media-text.alignwide .wp-block-media-text__content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media (min-width: 1024px) {
  .wp-adminify.toplevel_page_gf_edit_forms #gform-form-toolbar {
    width: calc(100% - 290px);
  }
  .gform-admin .gform-flyout.gform-flyout--right {
    right: 70px;
  }
  .logged-in .main_wrapper {
    padding-top: 132px;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  #sbi_images {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 1300px) {
  .main_banner .carousel-caption,
  .main_banner .carousel-indicators {
    width: 90%;
  }
}
/* page builder*/
.page-id-31707 .main_breadcrumb {
  display: none;
}/*# sourceMappingURL=responsive.css.map */